.timerContainer {
  margin-bottom: 1rem;
}

progress {
  width: 100%;
  height: 1rem;
  border-radius: 0.5rem;
  overflow: hidden;
  appearance: none;
}

progress::-webkit-progress-bar {
  background-color: #e9ecef;
  border-radius: 0.5rem;
}

progress::-webkit-progress-value {
  background-color: #ffa94d; /* Accent color */
  border-radius: 0.5rem;
}

progress::-moz-progress-bar {
  background-color: #ffa94d;
}

.timerContainer {
  margin-bottom: 1rem;
  text-align: center;
}

.countdownText {
  font-size: 0.9rem;
  color: #495057;
  margin-bottom: 0.25rem;
  font-weight: 500;
}
